<div class="container-fluid">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video playsinline="playsinline" class="d-block w-100" autoplay="autoplay" muted="muted">
          <source src="\assets\images\back4.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item">
        <video playsinline="playsinline" class="d-block w-100" autoplay="autoplay" muted="muted">
          <source src="\assets\images\back2.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item">
        <video playsinline="playsinline" class="d-block w-100" autoplay="autoplay" muted="muted">
          <source src="\assets\images\back3.mp4" type="video/mp4">
        </video>
      </div>

      <div class="carousel-item">
        <video playsinline="playsinline" class="d-block w-100" autoplay="autoplay" muted="muted">
          <source src="\assets\images\back5.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item">
        <video playsinline="playsinline" class="d-block w-100" autoplay="autoplay" muted="muted">
          <source src="\assets\images\video.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item">
        <video playsinline="playsinline" class="d-block w-100" autoplay="autoplay" muted="muted">
          <source src="\assets\images\back6.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>