<div class="container my-5">
    <h1 mb-3>Country</h1>
    <a routerLink="/country/add" class="btn btn-success my-3">Add Country</a>
    <table class="table table-bordered table-striped table-hover" style="background-color:#f3b2f3 ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th> </th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let country of countries">
               <td>{{country.id}}</td>
               <td>{{country.code}}</td>
               <td>{{country.name}}</td>
               <td><a [routerLink]="['/country','edit',country.id]" class="btn btn-warning">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!countries">No country found</p>
</div>
