<div class="container my-5">
    <h1 class="mb-3">Update Flight</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateFlight()">

                <div class="form-group">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" readonly name="id" [(ngModel)]="flightDetails.id">
                  </div>

                <div class="form-group">
                    <label for="code" class="form-label">Enter Flight Code</label>
                    <input type="text" class="form-control" id="code" name="code"
                        [(ngModel)]="flightDetails.code">
                </div>

                <div class="form-group">
                    <label for="airlineRefId" class="form-label">Enter Airline Name</label>
                    <select class="form-control" name="airlineRefId" [(ngModel)]="flightDetails.airlineRefId">
                        <option *ngFor="let airline of airlines" [value]="airline.id">{{airline.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="fromAirportRefId" class="form-label">Enter From Airport Location</label>
                    <select class="form-control" name="fromAirportRefId" [(ngModel)]="flightDetails.fromAirportRefId">
                        <option *ngFor="let airport of airports" [value]="airport.id">{{airport.code}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="toAirportRefId" class="form-label">Enter To Airport Location</label>
                    <select class="form-control" name="toAirportRefId" [(ngModel)]="flightDetails.toAirportRefId">
                        <option *ngFor="let airport of airports" [value]="airport.id">{{airport.code}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="address1" class="form-label">Enter Address</label>
                    <input type="text" class="form-control" id="address1" name="address1"
                        [(ngModel)]="flightDetails.address1">
                </div>

                
                <div class="form-group">
                    <label for="cityRefId" class="form-label">Enter City Name</label>
                    <select class="form-control" name="cityRefId" [(ngModel)]="flightDetails.cityRefId">
                        <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="pincode" class="form-label">Enter Pincode</label>
                    <input type="number" class="form-control" id="pincode" name="pincode"
                        [(ngModel)]="flightDetails.pincode">
                </div>

                <div class="form-group">
                    <label for="telephone1" class="form-label">Enter Telephone number</label>
                    <input type="text" class="form-control" id="telephone1" name="telephone1"
                        [(ngModel)]="flightDetails.telephone1">
                </div>

                <div class="form-group">
                    <label for="email1" class="form-label">Enter Email</label>
                    <input type="text" class="form-control" id="email1" name="email1"
                        [(ngModel)]="flightDetails.email1">
                </div>

                <button type="submit" class="btn btn-primary mx-3">Submit</button>
                <button type="button" class="btn btn-danger" (click)="deleteFlight(flightDetails.id)">Delete</button>

            </form>
        </div>
    </div>

</div>