<div class="container my-5">
    <h1 class="mb-3">Edit Airport</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateAirport()">

                <div class="form-group">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" readonly name="id" [(ngModel)]="airportDetails.id">
                  </div>

                <div class="form-group">
                    <label for="code" class="form-label">Enter Airport Code</label>
                    <input type="text" class="form-control" id="code" name="code"
                        [(ngModel)]="airportDetails.code">
                </div>

                <div class="form-group">
                    <label for="address1" class="form-label">Enter Address</label>
                    <input type="text" class="form-control" id="address1" name="address1"
                        [(ngModel)]="airportDetails.address1">
                </div>

                
                <div class="form-group">
                    <label for="cityRefId" class="form-label">Enter City Name</label>
                    <select class="form-control" name="cityRefId" [(ngModel)]="airportDetails.cityRefId">
                        <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="pincode" class="form-label">Enter Pincode</label>
                    <input type="number" class="form-control" id="pincode" name="pincode"
                        [(ngModel)]="airportDetails.pincode">
                </div>

                <div class="form-group">
                    <label for="telephone1" class="form-label">Enter Telephone number</label>
                    <input type="text" class="form-control" id="telephone1" name="telephone1"
                        [(ngModel)]="airportDetails.telephone1">
                </div>

                <div class="form-group">
                    <label for="email1" class="form-label">Enter Email</label>
                    <input type="text" class="form-control" id="email1" name="email1"
                        [(ngModel)]="airportDetails.email1">
                </div>

                <button type="submit" class="btn btn-primary mx-3">Submit</button>
                <button type="button" class="btn btn-danger" (click)="deleteAirport(airportDetails.id)">Delete</button>
            </form>
        </div>
    </div>

</div>